<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/form.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/building.css" />
        <script type="text/javascript" src="./public/js/header.js"></script>
    </head>

    <body>
        <?php
        require("./public/panel/header.php");
        ?>

        <div id="building-view">
            <form id="building" action="/building" method="post">
                <div>
                    <h2>Adres</h2>

                    <?php
                    $this->renderTextField("Kraj", "country", $address->getCountry());
                    $this->renderTextField("Powiat", "district", $address->getDistrict());
                    $this->renderTextField("Gmina", "community", $address->getCommunity());
                    $this->renderTextField("Miejscowość", "location", $address->getLocation());
                    $this->renderTextField("Ulica", "street", $address->getStreet());
                    $this->renderTextField("Numer budynku", "building-no", $address->getBuildingNo());
                    $this->renderTextField("Numer mieszkania", "apartment-no", $address->getApartmentNo());
                    ?>
                </div>

                <div>
                    <h2>Szczegóły</h2>

                    <?php
                    $this->renderTextField("Powierzchnia użytkowa", "area", $details->getArea());
                    $this->renderTextField("Liczba kondygnacji", "storeys", $details->getStoreys());
                    $this->renderTextField("Liczba domowników", "housemates", $details->getHousemates());
                    ?>

                    <?php
                    $this->renderCombobox("Postrzegane zużycie wody", "water-usage", $usageOptions, $details->getWaterUsage());
                    $this->renderCombobox("Postrzegane zużycie energii", "energy-usage", $usageOptions, $details->getEnergyUsage());
                    $this->renderCombobox("Przeznaczenie budynku", "destination", $destinationOptions, $details->getDestination());
                    ?>
                </div>

                <div>
                    <h2>Wykonane termomodernizacje</h2>

                    <?php foreach ($modernizations as $modernization): ?>
                    <div>
                        <?php
                        $modernizationLabel = $modernization->getLabel();
                        $modernizationName = $modernization->getName();
                        $isCompleted = $building->hasCompletedModernization($modernizationName);

                        $this->renderCheckbox($modernizationLabel, "completed-modernizations[]", $modernizationName, $isCompleted);
                        ?>
                    </div>
                    <?php endforeach; ?>
                </div>

                <div>
                    <h2>Planowane termomodernizacje</h2>

                    <?php foreach ($modernizations as $modernization): ?>
                    <div>
                        <?php
                        $modernizationLabel = $modernization->getLabel();
                        $modernizationName = $modernization->getName();
                        $isPlanned = $building->hasPlannedModernization($modernizationName);

                        $this->renderCheckbox($modernizationLabel, "planned-modernizations[]", $modernizationName, $isPlanned);
                        ?>
                    </div>
                    <?php endforeach; ?>
                </div>

                <div>
                    <h2>Planowane instalacje źródeł ciepła</h2>

                    <?php foreach ($heaterTypes as $heaterType): ?>
                    <div>
                        <?php
                        $heaterTypeLabel = $heaterType->getLabel();
                        $heaterTypeName = $heaterType->getName();
                        $isToInstall = $building->hasHeaterToInstall($heaterTypeName);

                        $this->renderCheckbox($heaterTypeLabel, "heaters-to-install[]", $heaterTypeName, $isToInstall);
                        ?>
                    </div>
                    <?php endforeach; ?>
                </div>
            </form>
        </div>

        <div id="action-bar">
            <button form="building">Zapisz</button>
        </div>
    </body>
</html>