<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/building.css" />
    </head>

    <body>
        <div id="building-view">
            <form action="/building" method="post">
                <div>
                    <h2>Adres</h2>

                    <label for="country-field">Kraj</label>
                    <input name="country" id="country-field" value="<?= $address->getCountry(); ?>" />

                    <label for="district-field">Powiat</label>
                    <input name="district" id="district-field" />

                    <label for="community-field">Gmina</label>
                    <input name="community" id="community-field" />

                    <label for="location-field">Miejscowość</label>
                    <input name="location" id="location-field" />

                    <label for="street-field">Ulica</label>
                    <input name="street" id="street-field" />

                    <label for="building-no-field">Numer budynku</label>
                    <input name="building-no" id="building-no-field" />

                    <label for="apartment-no-field">Numer mieszkania</label>
                    <input name="apartment-no" id="apartment-no-field" />
                </div>

                <div>
                    <h2>Szczegóły</h2>

                    <label for="area-field">Powierzchnia użytkowa</label>
                    <input name="area" id="area-field" value="<?= $details->getArea(); ?>" />

                    <label for="storeys-count-field">Liczba kondygnacji</label>
                    <input name="storeys-count" id="storeys-count-field" />

                    <label for="housemates-field">Liczba domowników</label>
                    <input name="housemates" id="housemates-field" />

                    <label for="water-usage-field">Postrzegane zużycie wody</label>

                    <select name="water-usage" id="water-usage-field">
                        <option value="little">Niewielkie</option>
                        <option value="standard">Standardowe</option>
                        <option value="noticeable">Zauważalne</option>
                    </select>

                    <label for="electricity-usage-field">Postrzegane zużycie elektryczności</label>

                    <select name="electricity-usage" id="electricity-usage-field">
                        <option value="little">Niewielkie</option>
                        <option value="standard">Standardowe</option>
                        <option value="noticeable">Zauważalne</option>
                    </select>

                    <label for="destination-field">Przeznaczenie budynku</label>

                    <select name="destination" id="destination-field">
                        <option value="residential">Mieszkalny</option>
                        <option value="service">Usługowy</option>
                        <option value="industrial">Przemysłowy</option>
                        <option value="residential-n-service">Mieszkalno-Usługowy</option>
                    </select>
                </div>

                <div>
                    <h2>Wykonane termomodernizacje</h2>

                    <?php foreach ($availableModernizations as $modernization): ?>
                    <div>
                        <input type="checkbox" name="completed-modernization[]" value="<?= $modernization->getName(); ?>" id="completed-<?= $modernization->getName(); ?>-field" <?= in_array($modernization->getName(), $completedModernizations) ?: "checked"; ?>>
                        <label for="completed-<?= $modernization->getName(); ?>-field"><?= $modernization->getLabel(); ?></label>
                    </div>
                    <?php endforeach; ?>
                </div>

                <div>
                    <h2>Planowane termomodernizacje</h2>

                    <?php foreach ($availableModernizations as $modernization): ?>
                    <div>
                        <input type="checkbox" name="planned-modernization[]" value="<?= $modernization->getName(); ?>" id="planned-<?= $modernization->getName(); ?>-field" <?= in_array($modernization->getName(), $plannedModernizations) ?: "checked"; ?>>
                        <label for="planned-<?= $modernization->getName(); ?>-field"><?= $modernization->getLabel(); ?></label>
                    </div>
                    <?php endforeach; ?>
                </div>

                <div>
                    <h2>Planowane instalacje źródeł ciepła</h2>

                    <div>
                        <input type="checkbox" name="solar-panels-installation" id="solar-panels-installation-field">
                        <label for="solar-panels-installation-field">Kolektory słoneczne</label>
                    </div>

                    <div>
                        <input type="checkbox" name="heat-pump-installation" id="heat-pump-installation-field">
                        <label for="heat-pump-installation-field">Pompa ciepła</label>
                    </div>

                    <div>
                        <input type="checkbox" name="heating-network-installation" id="heating-network-installation-field">
                        <label for="heating-network-installation-field">Sieć ciepłownicza</label>
                    </div>

                    <div>
                        <input type="checkbox" name="gas-heater-installation" id="gas-heater-installation-field">
                        <label for="gas-heater-installation-field">Ogrzewanie gazowe</label>
                    </div>

                    <div>
                        <input type="checkbox" name="electrical-heater-installation" id="electrical-heater-installation-field">
                        <label for="electrical-heater-installation-field">Ogrzewanie elektryczne</label>
                    </div>

                    <div>
                        <input type="checkbox" name="pellet-heater-installation" id="pellet-heater-installation-field">
                        <label for="pellet-heater-installation-field">Kocioł na pellet</label>
                    </div>
                </div>

                <button></button>
            </form>
        </div>
    </body>
</html>