<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/building.css" />
    </head>

    <body>
        <div id="building-view">
            <form action="/building" method="post">
                <div>
                    <h2>Adres</h2>

                    <?php
                    $this->renderTextField("Kraj", "country", $address->getCountry());
                    $this->renderTextField("Powiat", "district", $address->getDistrict());
                    $this->renderTextField("Gmina", "community", $address->getCommunity());
                    $this->renderTextField("Miejscowość", "location", $address->getLocation());
                    $this->renderTextField("Ulica", "street", $address->getStreet());
                    $this->renderTextField("Numer budynku", "building-no", $address->getBuildingNo());
                    $this->renderTextField("Numer mieszkania", "apartment-no", $address->getApartmentNo());
                    ?>
                </div>

                <div>
                    <h2>Szczegóły</h2>

                    <?php
                    $this->renderTextField("Powierzchnia użytkowa", "area", $details->getArea());
                    $this->renderTextField("Liczba kondygnacji", "storeys", $details->getStoreys());
                    $this->renderTextField("Liczba domowników", "housemates", $details->getHousemates());
                    ?>

                    <?php
                    $this->renderCombobox("Postrzegane zużycie wody", "water-usage", $usageOptions, $details->getWaterUsage());
                    $this->renderCombobox("Postrzegane zużycie energii", "energy-usage", $usageOptions, $details->getEnergyUsage());
                    $this->renderCombobox("Przeznaczenie budynku", "destination", $destinationOptions, $details->getDestination());
                    ?>
                </div>

                <div>
                    <h2>Wykonane termomodernizacje</h2>

                    <?php foreach ($modernizations as $modernization): ?>
                    <div>
                        <?php $this->renderCheckbox($modernization->getLabel(), "completed-modernizations[]", $modernization->getName(), in_array($modernization->getName(), $completedModernizations)); ?>
                    </div>
                    <?php endforeach; ?>
                </div>

                <div>
                    <h2>Planowane termomodernizacje</h2>

                    <?php foreach ($modernizations as $modernization): ?>
                    <div>
                        <?php $this->renderCheckbox($modernization->getLabel(), "planned-modernizations[]", $modernization->getName(), in_array($modernization->getName(), $plannedModernizations)); ?>
                    </div>
                    <?php endforeach; ?>
                </div>

                <div>
                    <h2>Planowane instalacje źródeł ciepła</h2>

                    <?php foreach ($heaterTypes as $heaterType): ?>
                    <div>
                        <?php $this->renderCheckbox($heaterType->getLabel(), "heaters-to-install[]", $heaterType->getName(), in_array($heaterType->getName(), $heatersToInstall)); ?>
                    </div>
                    <?php endforeach; ?>
                </div>

                <button></button>
            </form>
        </div>
    </body>
</html>