<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/fuels.css" />
    </head>

    <body>
        <div id="fuels-view">
            <form acion="/fuels" method="post">
                <div>
                    <h2>Zużycie paliw w ciągu roku</h2>

                    <?php
                    foreach ($fuels as $fuel) {
                        $fuelLabel = $fuel->getLabel();
                        $fuelName = $fuel->getName();
                        $fuelConsumption = $fuelsConsumption[$fuelName];

                        if ($fuelConsumption === null) {
                            $value = 0;
                        } else {
                            $value = $fuelConsumption->getValue();
                        }

                        $this->renderTextField($fuelLabel, $fuelName, $value);
                    }
                    ?>
                </div>

                <div>
                    <h2>Punkty sprzedaży paliw</h2>

                    <div class="fuel-sales-points">
                        <?php if (empty($distributors)): ?>
                        <span>Brak ofert w Twojej okolicy!</span>
                        <?php endif; ?>

                        <?php foreach ($distributors as $distributor): ?>
                        <div class="fuel-sales-point">
                            <span><?= $distributor->getCompanyName(); ?></span>

                            <dl>
                                <dt>Oferowane paliwa:</dt>

                                <?php foreach ($distributor->getFuels() as $fuel): ?>
                                <dd><?= $fuel; ?></dd>
                                <?php endforeach; ?>
                            </dl>

                            <span><?= $distributor->getAddress(); ?></span>
                        </div>
                        <?php endforeach; ?>
                    </div>
                </div>

                <div>
                    <h2>Oferty sponsorowane</h2>

                    <div>
                        <input type="checkbox" name="fuels-offers" id="fuels-offers-field">
                        <label for="fuels-offers-field">Chcę otrzymywać oferty z punktów sprzedaży paliw działających na terenie mojej gminy</label>
                    </div>

                    <div class="indented-checkbox">
                        <input type="checkbox" name="fuels-email-offers" id="fuels-email-offers-field">
                        <label for="fuels-email-offers-field">Wiadomość e-mail</label>
                    </div>

                    <div class="indented-checkbox">
                        <input type="checkbox" name="fuels-notification-offers" id="fuels-notification-offers-field">
                        <label for="fuels-notification-offers-field">Powiadomienie w przeglądarce</label>
                    </div>
                </div>

                <div>
                    <button>Zapisz</button>
                </div>
            </form>
        </div>
    </body>
</html>