<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/form.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/fuels.css" />
        <script type="text/javascript" src="./public/js/subscriptions.js"></script>
    </head>

    <body>
        <?php
        $this->renderBreadcrumb("fuels");
        ?>

        <div id="fuels-view">
            <form id="fuels" acion="/fuels" method="post">
                <div>
                    <h2>Zużycie paliw w ciągu roku</h2>

                    <?php
                    foreach ($fuels as $fuel) {
                        $fuelLabel = $fuel->getLabel();
                        $fuelName = $fuel->getName();
                        $fuelUnit = $fuel->getUnit();
                        $fuelConsumption = $fuelsConsumption[$fuelName];

                        if ($fuelConsumption === null) {
                            $value = 0;
                        } else {
                            $value = $fuelConsumption->getValue();
                        }

                        $this->renderTextField("$fuelLabel [$fuelUnit]", $fuelName, $value);
                    }
                    ?>
                </div>

                <div>
                    <h2>Punkty sprzedaży paliw</h2>

                    <div class="distributors">
                        <?php if (empty($distributors)): ?>
                        <span>Brak ofert w Twojej okolicy!</span>
                        <?php endif; ?>

                        <?php foreach ($distributors as $distributor): ?>
                        <div class="distributor">
                            <span><?= $distributor->getCompanyName(); ?></span>
                            <span><?= $distributor->getAddress(); ?></span>

                            <dl>
                                <dt>Oferowane paliwa:</dt>

                                <?php foreach ($distributor->getFuels() as $fuel): ?>
                                <dd><?= $fuel; ?></dd>
                                <?php endforeach; ?>
                            </dl>
                        </div>
                        <?php endforeach; ?>
                    </div>
                </div>

                <div>
                    <h2>Oferty sponsorowane</h2>

                    <?php
                    require("./public/panel/fuels-subscriptions.php");
                    ?>
                </div>
            </form>
        </div>

        <div id="action-bar">
            <button form="fuels">Zapisz</button>
        </div>
    </body>
</html>