<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/heaters.css" />
    </head>

    <body>
        <div id="heaters-view">
            <form action="/heaters" method="post">
                <?php foreach ($heaters as $index => $heater): ?>
                <div>
                    <h2>Źródło ciepła #<?= $index + 1; ?></h2>

                    <?php
                    $this->renderCombobox("Rodzaj", "type", $heaterTypes, $heater->getType());
                    $this->renderTextField("Moc", "power", $heater->getPower());
                    $this->renderRadioGroup("Komora spalania", "combustion-chamber", ["open" => "Otwarta", "closed" => "Zamknięta"], $heater->getCombustionChamber());
                    $this->renderTextField("Sprawność cieplna", "efficiency", $heater->getEfficiency());
                    $this->renderTextField("Rok instalacji", "installation-year", $heater->getInstallationYear());
                    $this->renderTextField("Rok produkcji", "production-year", $heater->getProductionYear());
                    $this->renderTextFieldWithSuggestions("Źródło danych", "data-source", $heater->getDataSource(), ["Tabliczka znamionowa", "Dokumentacja techniczna", "Wiedza właściciela"]);
                    $this->renderCombobox("Klasa kotła", "thermal-class", $thermalClasses, $heater->getThermalClass());
                    ?>

                    <div>
                        <?php
                        $this->renderCheckbox("Urządzenie odpylające", "dust-extractor", true, $heater->hasDustExtractor());
                        ?>
                    </div>
                </div>
                <?php endforeach; ?>

                <div>
                    <button>Zapisz</button>
                </div>
            </form>
        </div>
    </body>
</html>