<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/form.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/heaters.css" />
    </head>

    <body>
        <?php
        $this->render_breadcumb("heaters");
        ?>

        <div id="heaters-view">
            <form id="heaters" action="/heaters" method="post">
                <?php foreach ($heaters as $index => $heater): ?>
                <div>
                    <h2>Źródło ciepła #<?= $index + 1; ?></h2>

                    <?php
                    $this->renderCombobox("Rodzaj", "type", $heaterTypes, $heater->getType());
                    $this->renderTextField("Moc", "power", $heater->getPower());
                    $this->renderTextField("Sprawność cieplna [%]", "efficiency", $heater->getEfficiency());
                    $this->renderTextField("Rok instalacji", "installation-year", $heater->getInstallationYear());
                    $this->renderTextField("Rok produkcji", "production-year", $heater->getProductionYear());
                    $this->renderTextFieldWithSuggestions("Źródło danych", "data-source", $heater->getDataSource(), ["Tabliczka znamionowa", "Dokumentacja techniczna", "Wiedza właściciela"]);
                    $this->renderCombobox("Klasa kotła", "thermal-class", $thermalClasses, $heater->getThermalClass());
                    ?>

                    <div>
                        <?php
                        $this->renderRadioGroup("Komora spalania", "combustion-chamber", ["open" => "Otwarta", "closed" => "Zamknięta"], $heater->getCombustionChamber());
                        ?>
                    </div>

                    <div>
                        <?php
                        $this->renderCheckbox("Urządzenie odpylające", "dust-extractor", true, $heater->hasDustExtractor());
                        ?>
                    </div>

                    <?php
                    $this->renderHiddenField("heater-id", $heater->getId());
                    ?>
                </div>
                <?php endforeach; ?>
            </form>
        </div>

        <div id="action-bar">
            <button form="heaters">Zapisz</button>
            <button>Dodaj kocioł</button>
            <button>Usuń kocioł</button>
        </div>
    </body>
</html>