<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
    </head>

    <body>
        <div id="login-view">
            <div id="branding">
                <h1>Thermo Assistant</h1>
            </div>

            <div id="login-panel">
                <form>
                    <label for="name-field">Imię</label>
                    <input name="name" id="name-field" />

                    <label for="surname-field">Nazwisko</label>
                    <input name="surname" id="surname-field" />

                    <label for="email-field">Adres e-mail</label>
                    <input type="email" name="e-mail" id="email-field" />

                    <label for="password-field">Hasło</label>
                    <input type="password" name="password" id="password-field" />

                    <button>Zaloguj się</button>

                    <label for="repeated-password-field">Powtórz hasło</label>
                    <input type="password" name="repeated-password" id="repeated-password-field" />

                    <button>Zarejestruj się</button>
                </form>
            </div>
        </div>
    </body>
</html>