<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="/public/css/user.css" />
    </head>

    <body>
        <div id="user-view">
            <div id="branding">
                <h1>Thermo Assistant</h1>
            </div>

            <div id="user-panel">
                <form action="/signIn" method="post">
                    <div>
                        <label for="email-field">Adres e-mail</label>
                        <input type="email" name="e-mail" id="email-field" />

                        <label for="password-field">Hasło</label>
                        <input type="password" name="password" id="password-field" />

                        <button>Zaloguj się</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>