<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>thermo-assistant</title>
        <link rel="stylesheet" type="text/css" href="./public/css/form.css" />
        <link rel="stylesheet" type="text/css" href="./public/css/summary.css" />
        <script type="text/javascript" src="./public/js/header.js"></script>
        <script type="text/javascript" src="./public/js/summary.js"></script>
        <script type="text/javascript" src="./public/js/subscriptions.js"></script>
    </head>

    <body>
        <?php
        require("./public/panel/header.php");
        ?>

        <div id="summary-view">
            <form>
                <div>
                    <h2>Zanieczyszczenia</h2>

                    <p>Zanieczyszczenia generowane przez Twój budynek w ciągu roku:</p>

                    <table id="pollutions-table">
                        <caption>Trwa obliczanie...</caption>

                        <tr>
                            <th>Substancja</th>
                            <th>Ilość [ton]</th>
                        </tr>
                    </table>
                </div>

                <div>
                    <h2>Centralna Ewidencja Emisyjności Budynków</h2>

                    <?php if ($ceeb): ?>
                        <p>Twój budynek spełnia wymogi rejestracji w systemie CEEB. Możesz dokonać tego za pośrednictwem <a href="https://pz.gov.pl/">profilu zaufanego</a>.</p>
                    <?php else: ?>
                        <p>Twój budynek nie spełnia obowiązku rejestracji w systemie CEEB.</p>
                    <?php endif ?>
                </div>

                <div>
                    <h2>Oferty sponsorowane</h2>

                    <?php
                    require("./public/panel/fuels-subscriptions.php");
                    require("./public/panel/subscriptions.php");
                    ?>
                </div>
            </form>
        </div>
    </body>
</html>