h1 {
    color: rgb(255, 165, 0);
    font-family: sans-serif;
}

#breadcumb a {
    text-decoration: none;
}

#action-bar {
    margin: 1em 0;
}

#breadcumb button.active {
    background: rgb(255, 165, 0);
}

form h2 {
    color: rgb(255, 165, 0);
    font-family: sans-serif;
}

form > div {
    display: flex;
    flex-direction: column;
}

label, span, p, dl, table {
    font-family: Lato, Arial, sans-serif;
}

input, select {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    font-size: medium;
    padding: 0.3em 0;
}

input:focus, select:focus {
    outline: none;
}

button {
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    width: 9em;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0.7px;
    color: white;
    background: rgb(252, 201, 129);
}

button:hover {
    background: rgb(255, 165, 0);
}

input, select {
    margin-bottom: 1.2em;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0;
}

.indented-checkbox {
    margin-left: 1em;
}

a {
    color: rgb(255, 165, 0);
}

@media screen and (min-width: 1366px) {
    form {
        width: 1280px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    #breadcumb {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 0.4em;
    }
}