#fuels-view form {
    display: flex;
    flex-flow: row;
    gap: 3em;
}

#fuels-view .distributors {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#fuels-view .distributor {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #fuels-view form {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}